body {
  background-color: #eee7e1 !important;
  color: #1a1919 !important;
  font-family: "Montserrat", sans-serif;
}
.flex-side {
  display: flex;
}
.sidebar-width {
  width: 5rem;
  position: fixed;
}
.main-aside {
  margin-left: 4rem;
  margin-top: -5rem;
}
#sidebar-last {
  position: fixed;
  bottom: 2rem;
}
.sidebar-buttons {
  background-color: #eee7e1 !important;
}
.sidebar-position {
  margin-left: -0.5rem;
}
.sidebar-buttons > img {
  height: 1.5rem;
  filter: invert(0.1);
  transform: rotate(270deg);
}
.sidebar-last-button {
  display: inline-block;
  height: 1.5rem;
  transform: rotate(270deg);
  color: #1a1919 !important;
}
.mycls-about,
.mycls-name,
.about-section-title {
  font-family: "Bodoni Moda", "MuseoModerno", cursive, sans-serif;
}
.my-btn {
  font-family: "Bodoni Moda", "MuseoModerno", cursive, sans-serif;
  font-size: larger;
  background-color: #1a1919;
  border: none;
  color: #eee7e1;
  text-align: center;
  text-decoration: none;
  width: 14rem;
  padding: 1rem 1rem;
  border-radius: 2rem;
  transition-duration: 0.2s;
}
.my-cv-btn:hover {
  width: 16rem;
}
.about-main ul {
  list-style: none;
  font-family: "Montserrat", sans-serif;
}
